{
    "logger": {
        "options": {
            "level": "debug",
            "console": true,
            "silent": false
        },
        "all": {
            "maxFiles": "1d"
        },
        "error": {
            "maxFiles": "2d"
        },
        "console": {
            "level": "silly"
        }
    },
    "sensors": [
        {
            "name": "test",
            "type": "dht",
            "options": {
                "type": 22,
                "pin": 1,
                "interval": 3000,
                "clientTime": true
            }
        },
        {
            "name": "test2",
            "type": "dht",
            "options": {
                "type": 22,
                "pin": 1,
                "interval": 2000
            }
        }
    ],
    "mqtt": {
        "enable": true,
        "options": {
            "host": "192.168.1.141",
            "port": 62883,
            "username": "PCNUaZW1entooRtJ994f"
        }
    },
    "dht": {
        "test": false
    }
}